<<!-- form action= "/welcom"  method="POST">
<h3>Title :</h3>
  <input type="text" name="nom_du_champ">
  <h3>Content :</h3>
  <input type="text" text="nom_du_champ">

  <input type="submit" value="Envoyer le formulaire">
</form> -->

<html>
  <body>
    <!-- ... -->


    <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'Title' %>
      <%= text_field_tag 'title',nil, placeholder: "Title" %>
      <br/> <br/>

      <%= label_tag 'Body' %>
      <%= text_area_tag 'body',nil,placeholder: "Content"%>
      <br /> 

    <%=select_tag "selected_tag", options_for_select( @@t)%>

      <%= submit_tag "Create Post" %>

    <% end %>

    <!-- ... -->
  </body>
</html>